:root {
  --gray: #dddddd;
  --black: #333;
  --wh: 300px;
  --red: #ef476f;
  --yellow: #ffd166;
  --green: #06d6a0;
  --blue: #118ab2;
  --dark-blue: #073b4c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--black);
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

.container {
  max-width: 1140px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cadre {
  width: var(--wh);
  height: var(--wh);
  border-width: 10px;
  border-style: solid;
  margin: 20px;
  padding: 10px;
  position: relative;
}

.cadre h3 {
  font-size: 30px;
  line-height: 35px;
}

.cadre span {
  font-size: 18px;
  line-height: 21px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

footer {
  padding: 20px;
  background-color: var(--gray);
  text-align: center;
}
